@use './../partials/colors';
@use './../partials/device';
@use "./mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap');

.about-me{

    @media only screen and (min-width: (device.$pc+ 1)) {

            &__photo{
                // position: relative;
                background-color: colors.$purple-navy;
                height:50%;
    
                img{
                    position: relative;
                    left: -50px;
                    top: 50px;
                }
            }
    
            &__text {
                padding-left: 50px;
                    p{
                    font-size: 25px;
                    }
            }
    }

    @media only screen and  (min-width: (device.$phone + 1)) and (max-width: device.$pc) {

            &__photo{
                position: relative;
                background-color: colors.$purple-navy;
                width: 70%;
    
                img{
                    position: relative;
                    left: -20px;
                    top: 50px;
                }
            }
    
            &__text {
                margin: auto;
                p{
                    font-size: 22px;
                    text-align: center;
                }
            }
    }

    @media only screen and (max-width: device.$phone) {

        &__photo{
        background-color: colors.$purple-navy;
        margin-bottom: 30px;
        // height:50%;
    
        img{
            width:250px;
            position: relative;
            left: -10px;
            top: 20px;
            }
        }
    
        &__text {
            padding: 10px 20px;
            text-align: center;
             p {
                font-size: 14px;
                }
         }
    }
}