@use "../partials/colors";
@use "../partials/device";
@use "./mixins.scss";
@use "./navbar.scss";
@use "./landing-page.scss";
@use "./about-me.scss";
@use "./projects.scss";
@use "./tech-skills.scss";
@use "./footer.scss";

@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: colors.$pale-violet-red;
	color: colors.$white;
	width: 100%;
	overflow-x: hidden;
}

p {
	font-family: "Spartan", sans-serif;
}

a {
	@include mixins.link-styling;
}

//general styling of the section

.article {
	@media only screen and (min-width: (device.$pc+ 1)) {
		&__title {
			margin: 0 0 20px 30px;
			font-family: "Playfair Display", serif;
			font-weight: 800;
			@include mixins.font-sizing;
		}

		&__about {
			height: 100vh;
			@include mixins.flex;
			margin: auto;
			width: 75%;
		}

		&__gallery {
			@include mixins.flex($flx-dir: column);
			padding: 0 5%;
		}

		&__tech-skills {
			height: 100vh;
		}
	}

	@media only screen and (max-width: device.$pc) {
		// 	&__title {
		// 		margin: 20px 0 15px 25px;
		// 		font-family: "Playfair Display", serif;
		// 		font-weight: 800;
		// 		@include mixins.font-sizing($lg: 60px);
		// 	}

		// 	&__about {
		// 		@include mixins.flex($just-cont: space-around, $flx-dir: column);
		// 		height: 90vh;
		// 		width: 75%;
		// 		margin: auto;
		// 		padding-top: 10vh;
		// 	}

		// 	&__gallery {
		// 		display: grid;
		// 		grid-template-columns: repeat(2, 1fr);
		// 		gap: 30px;
		// 		padding: 0 2vw;
		// 	}

		// 	&__tech-skills {
		// 		height: 100vh;
		// 	}
		// }

		// @media only screen and (max-width: device.$phone) {

		&__title {
			margin: 20px 30px;
			font-family: "Playfair Display", serif;
			font-weight: 800;
			@include mixins.font-sizing($lg: 50px);
		}

		&__about {
			height: 100vh;
			width: 80%;
			margin: auto;
			@include mixins.flex($flx-dir: column);
		}

		&__gallery {
			@include mixins.flex($flx-dir: column);
			padding: 0 3vw;
		}
	}
}
