@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Playfair+Display:ital,wght@0,500;0,800;0,900;1,500;1,900&family=Spartan:wght@200;300;400;500&display=swap");
/* SCSS HEX */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 1em 0;
  color: #fff;
  transition: background 200ms ease-in;
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .navbar {
    margin: 2rem 0 0 1rem;
  }
}

.nav-scrolled {
  background-color: #e07c96;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  width: 100vw;
}

.nav-btn {
  display: none;
  cursor: pointer;
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .nav-btn {
    display: block;
    height: 50px;
    width: 50px;
  }
  .nav-btn.active .line-1 {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-btn.active .line-2 {
    opacity: 0;
  }
  .nav-btn.active .line-3 {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.line {
  display: flex;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Cutive Mono", monospace;
  list-style-type: none;
}
.nav-list__item {
  padding: 5px 20px;
  font-size: 35px;
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    left: -100%;
    top: 70px;
    text-align: center;
    transition: 0.3s;
    background-color: #e07c96;
    opacity: 0.95;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  .nav-list__item {
    margin: 1.5rem 0;
    font-size: 45px;
  }
  .nav-list.active {
    left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    top: 20px;
    right: 25px;
  }
  .nav-list__item {
    padding: 5px 15px;
    font-size: 16px;
  }
}

.landing-page {
  background-image: url(../images/ernest-brillo-Qi8CvonsYnM-unsplash.jpg);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 1025px) {
  .landing-page__title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    margin-top: 30vh;
    font-size: 70px;
  }
  .landing-page__icon {
    margin-bottom: 10vh;
  }
  .landing-page__icon--link {
    text-decoration: none;
    color: #fff;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .landing-page__title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    margin-top: 40vh;
    font-size: 50px;
  }
  .landing-page__icon {
    margin-bottom: 5vh;
  }
  .landing-page__icon--link {
    text-decoration: none;
    color: #fff;
  }
}
@media only screen and (max-width: 500px) {
  .landing-page {
    height: 100vh;
  }
  .landing-page__title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-style: italic;
    margin-top: 35vh;
    font-size: 26px;
  }
  .landing-page__icon {
    margin-bottom: 2vh;
  }
  .landing-page__icon--link {
    text-decoration: none;
    color: #fff;
  }
}

@media only screen and (min-width: 1025px) {
  .about-me__photo {
    background-color: #414174ff;
    width: 45%;
  }
  .about-me__photo img {
    position: relative;
    left: -50px;
    top: 50px;
    width: 95%;
    height: auto;
  }
  .about-me__text {
    padding-left: 50px;
    width: 55%;
  }
  .about-me__text p {
    font-size: 19px;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .about-me__photo {
    background-color: #414174ff;
  }
  .about-me__photo img {
    position: relative;
    left: -40px;
    top: 55px;
  }
  .about-me__text {
    margin: auto;
  }
  .about-me__text p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .about-me__photo {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .about-me__photo img {
    width: 90%;
  }
  .about-me__text {
    text-align: center;
    margin-top: 5vh;
  }
  .about-me__text p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 1025px) {
  .project__one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 2% 3%;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
  .project__one--right {
    border-radius: 7px;
    margin: 10px;
    width: 500px;
    height: auto;
  }
  .project__one--left {
    width: 50%;
    margin: 10px;
  }
  .project__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 6%;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
  .project__two--right {
    width: 50%;
    margin: 10px;
  }
  .project__two--left {
    border-radius: 7px;
    margin: 10px;
    width: 500px;
    height: auto;
  }
  .project__three {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    padding: 2% 3%;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
  .project__three--right {
    border-radius: 7px;
    margin: 10px;
    width: 500px;
    height: auto;
  }
  .project__three--left {
    width: 50%;
    margin: 10px;
  }
  .project__four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2% 6%;
    border-bottom: 2px solid #fff;
    margin-bottom: 20px;
  }
  .project__four--right {
    width: 50%;
    margin: 10px;
  }
  .project__four--left {
    border-radius: 7px;
    margin: 10px;
    width: 500px;
    height: auto;
  }
  .project__button {
    margin-top: 15px;
  }
  .project__button__item {
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    padding: 0 5px;
  }
  .project__button__item:hover {
    color: #414174ff;
  }
  .project__button__item:visited {
    color: #fff;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .project__one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__one--right {
    border-radius: 10px;
    margin: 10px;
    width: 60%;
  }
  .project__one--left {
    margin: 10px;
  }
  .project__two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__two--right {
    margin: 10px;
  }
  .project__two--left {
    border-radius: 10px;
    margin: 10px;
    width: 60%;
  }
  .project__three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__three--right {
    border-radius: 10px;
    margin: 10px;
    width: 60%;
  }
  .project__three--left {
    margin: 10px;
  }
  .project__four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__four--right {
    margin: 10px;
  }
  .project__four--left {
    border-radius: 10px;
    margin: 10px;
    width: 60%;
  }
  .project__button {
    margin-top: 15px;
  }
  .project__button__item {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    font-size: 48px;
  }
  .project__button__item:hover {
    color: #414174ff;
  }
  .project__button__item:visited {
    color: #fff;
  }
}
@media only screen and (max-width: 500px) {
  .project__one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__one--right {
    border-radius: 10px;
    margin: 10px;
    width: 45%;
  }
  .project__one--left {
    margin: 10px;
  }
  .project__two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__two--right {
    margin: 10px;
  }
  .project__two--left {
    border-radius: 10px;
    margin: 10px;
    width: 45%;
  }
  .project__three {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__three--right {
    border-radius: 10px;
    margin: 10px;
    width: 45%;
  }
  .project__three--left {
    margin: 10px;
  }
  .project__four {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border-bottom: 2px solid #fff;
    text-align: center;
  }
  .project__four--right {
    margin: 10px;
  }
  .project__four--left {
    border-radius: 10px;
    margin: 10px;
    width: 45%;
  }
  .project__button {
    margin-top: 10px;
  }
  .project__button__item {
    text-decoration: none;
    color: #fff;
    padding: 0 5px;
    font-size: 48px;
  }
  .project__button__item:hover {
    color: #414174ff;
  }
  .project__button__item:visited {
    color: #fff;
  }
}

@media only screen and (min-width: 1025px) {
  .tech-skills__list {
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border-color: #fff;
    border-left-style: solid;
    border-right-style: solid;
    margin: 10vh 20vh;
  }
  .tech-skills__list__item {
    height: 90px;
    width: 90px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .tech-skills__list {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    border-color: #fff;
    border-left-style: solid;
    border-right-style: solid;
    margin: 5vh;
  }
  .tech-skills__list__item {
    font-size: 70px;
    margin: auto;
  }
  .tech-skills__list__item img {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .tech-skills__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 2vh;
  }
  .tech-skills__list__item {
    font-size: 48px;
    padding: 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .tech-skills__list__item img {
    width: 50%;
    margin: auto;
  }
}

.footer {
  background-color: #414174ff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 20px 0;
  margin: auto;
}
@media only screen and (min-width: 1025px) {
  .footer__email {
    margin-bottom: 10px;
  }
  .footer__email__link {
    text-decoration: none;
    color: #fff;
    font-family: "Cutive Mono", monospace;
  }
  .footer__email__link--font-sm {
    font-size: 12px;
  }
  .footer__email__link--font-md {
    font-size: 22px;
  }
  .footer__email__link--font-lg {
    font-size: 70px;
  }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
  }
  .footer__links__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }
  .footer__links__item:hover {
    color: #e07c96;
  }
  .footer__info p {
    font-family: "Cutive Mono", monospace;
  }
}
@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .footer__email {
    margin-bottom: 5px;
  }
  .footer__email__link {
    text-decoration: none;
    color: #fff;
    font-family: "Cutive Mono", monospace;
  }
  .footer__email__link--font-sm {
    font-size: 12px;
  }
  .footer__email__link--font-md {
    font-size: 22px;
  }
  .footer__email__link--font-lg {
    font-size: 70px;
  }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
  }
  .footer__links__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }
  .footer__links__item:hover {
    color: #e07c96;
  }
  .footer__info p {
    font-family: "Cutive Mono", monospace;
  }
}
@media only screen and (max-width: 500px) {
  .footer__email__link {
    text-decoration: none;
    color: #fff;
    font-family: "Cutive Mono", monospace;
  }
  .footer__email__link--font-sm {
    font-size: 12px;
  }
  .footer__email__link--font-md {
    font-size: 18px;
  }
  .footer__email__link--font-lg {
    font-size: 70px;
  }
  .footer__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .footer__links__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }
  .footer__links__item:hover {
    color: #e07c96;
  }
  .footer__links__item:visited {
    color: #fff;
  }
  .footer__info p {
    font-family: "Cutive Mono", monospace;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #e07c96;
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

p {
  font-family: "Spartan", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 1025px) {
  .article__title {
    margin: 0 0 20px 30px;
    font-family: "Playfair Display", serif;
    font-weight: 800;
  }
  .article__title--font-sm {
    font-size: 12px;
  }
  .article__title--font-md {
    font-size: 22px;
  }
  .article__title--font-lg {
    font-size: 70px;
  }
  .article__about {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    width: 75%;
  }
  .article__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 5%;
  }
  .article__tech-skills {
    height: 100vh;
  }
}
@media only screen and (max-width: 1024px) {
  .article__title {
    margin: 20px 30px;
    font-family: "Playfair Display", serif;
    font-weight: 800;
  }
  .article__title--font-sm {
    font-size: 12px;
  }
  .article__title--font-md {
    font-size: 22px;
  }
  .article__title--font-lg {
    font-size: 50px;
  }
  .article__about {
    height: 100vh;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .article__gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 3vw;
  }
}
